<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button color="dark">

      </ion-menu-button>
      <ion-button fill='clear'>
        <img [routerLink]="['/landing']" routerLinkActive="router-link-active" routerDirection='root' 
          src="https://i.ibb.co/18x47wV/reuserly-logo.png" alt="reuserly_logo">
      </ion-button>
    </ion-buttons>
    <!-- <ion-title class='ion-text-center'>landing</ion-title> -->
    <ion-buttons  slot="end">
      <ion-button size='large' fill='clear' [routerLink]="[s.link]" routerLinkActive="router-link-active" routerDirection='root' [style.color]='s.color' *ngFor="let s of stores">
        <ion-icon [name]='s.icon'></ion-icon>
        <ion-label>{{s.title}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [scrollEvents]="true"
  (ionScroll)='logScroll($event)'>

  <div #banner class="banner">
    <div #backdrop class="backdrop">
     
    </div>
    <h1 #bannerTitle >
      <b>
        “The Greatest Threat to Our Planet Is the Belief That Someone Else Will Save It” - Robert Swan
      </b>
    </h1>   
  </div>

  <ion-card  [ngClass]='{"card-visible" : strawCardVisible}' class='straw-card'>

    <ion-grid class='ion-no-padding'>
      <ion-row >

        <ion-col class='ion-no-padding' size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>

          <img src="https://i.ibb.co/KDyRyrz/straws.jpg" />

        </ion-col>

        <ion-col size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>

          <ion-card-header>
            <ion-card-subtitle>Reuserly</ion-card-subtitle>
            <ion-card-title>Stainless Steel Straws</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Set of 2 Stainless Steel Straws, aluminium case, 2 silicon tips and cleaning brush. The metal case is made from recycled aluminium and can hold up to 6 straws plus the cleaning brush.
        
            <div class='card-button__container'>
              <ion-button [routerLink]="['/straws']" routerDirection="forward" size='large'>
                <ion-icon name='ios-color-wand'></ion-icon>
                <ion-label>Straws</ion-label>
              </ion-button>
            </div>
          </ion-card-content>


        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-card>

  <ion-card [ngClass]='{"card-visible" : protectorCardVisible}' class='protector-card'>

    <ion-grid class='ion-no-padding'>
      <ion-row class='reverse-row'>

        <ion-col  size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>

          <ion-card-header>
            <ion-card-subtitle>Reuserly</ion-card-subtitle>
            <ion-card-title>iPhone 11 Pro (2019) Silicone TPU Case</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Supports wireless charging and compatible. Nicely detailed and made for perfect fit clear iPhone XI 5.8" case; Perfect cutouts for speakers, camera and other ports. Only 1mm thin, won't add bulk to your iPhone XI.
         
            <div class='card-button__container'>
              <ion-button [routerLink]="['/protectors']" routerDirection="forward" size='large'>
                <ion-icon name='ios-phone-portrait'></ion-icon>
                <ion-label>Protectors</ion-label>
              </ion-button>
            </div>
         
          </ion-card-content>

        </ion-col>
        

        <ion-col class='ion-no-padding' size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>

          <img #protectorCardImage src="https://i.ibb.co/HDk1hQn/iphone.jpg" />

        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card [ngClass]='{"card-visible" : fluteCardVisible}' class='flute-card'>

    <ion-grid class='ion-no-padding'>
      <ion-row>

        <ion-col class='ion-no-padding' size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>

          <img #fluteCardImage src="https://i.ibb.co/DVrsGtj/flutes.jpg" />
          
        </ion-col>

        <ion-col size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>

          <ion-card-header>
            <ion-card-subtitle>Reuserly</ion-card-subtitle>
            <ion-card-title>Wine Tumbler Champagne Flute</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Champagne Flutes with Insulated Double-Wall Technology to Keep Hot and Cold Longer: The advanced structure keeps drinks cold for 6+ hours and hot for 3+ hours.
            
            <div class='card-button__container'>
              <ion-button [routerLink]="['/flutes']" routerDirection="forward" size='large'>
                <ion-icon name='ios-wine'></ion-icon>
                <ion-label>FLUTES</ion-label>
              </ion-button>
            </div>
  
          </ion-card-content>
         
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <div #reuserlyBooksBanner class="reuserly-books-banner">
    <div class="reuserly-books-banner__reuserly-logo">
      <img class='reuserly-books-banner__reuserly-logo--image' src="https://i.ibb.co/18x47wV/reuserly-logo.png" alt="reuserly_logo">
      <h1 class='reuserly-books-banner__reuserly-logo--subtitle'>BOOKS</h1>
    </div>
  </div>

  <ion-card [ngClass]='{"card-visible" : bookCardVisible}' class='book-card'>

    <ion-grid class='ion-no-padding'>
      <ion-row class='reverse-row'>

        <ion-col size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>

          <ion-card-header>
            <ion-card-subtitle>Reuserly</ion-card-subtitle>
            <ion-card-title>Books</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Your favourite books at an affordable price, not at the cost of destroying the environment.
            <div class='card-button__container'>
              <ion-button [routerLink]="['/books']" routerDirection="forward" size='large'>
                <ion-icon name='book'></ion-icon>
                <ion-label>Books</ion-label>
              </ion-button>
            </div>

          </ion-card-content>

        </ion-col>

        <ion-col class='ion-no-padding' size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>

          <img src="https://i.ibb.co/qkNqY3C/dad.jpg" />
         
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-footer  class='ion-padding'>
    <ion-toolbar color='dark'>

      <ion-title class='ion-text-center'></ion-title>
     
    </ion-toolbar>

    <ion-fab horizontal="start" vertical="center" slot="fixed">
      <ion-fab-button color="medium">
        <ion-icon name="ios-arrow-dropright"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-item lines='none' color='dark'>
          <ion-label>
            <h1>Follow Reuserly at:</h1>
          </ion-label>
        </ion-item>
        <ion-fab-button *ngFor="let s of socials"  [href]="s.link" target='_blank' color='medium' >
          <ion-icon [name]='s.icon'></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
   
  </ion-footer>
 
  <!-- <div style='height:2000px'></div> -->
</ion-content>

