<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button color="dark">

      </ion-menu-button>
      <ion-button fill='clear'>
        <img [routerLink]="['/landing']" routerLinkActive="router-link-active" routerDirection='root' 
          src="https://i.ibb.co/18x47wV/reuserly-logo.png" alt="reuserly_logo">
      </ion-button>
    </ion-buttons>

    <ion-buttons  slot="end">
      <ion-button size='large' fill='clear' [routerLink]="[s.link]" routerLinkActive="router-link-active" routerDirection='root' [style.color]='s.color' *ngFor="let s of stores">
        <ion-icon [name]='s.icon'></ion-icon>
        <ion-label>{{s.title}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let p of products">

    <ion-grid class='ion-no-padding'>

      <ion-row>

        <ion-col class='selection-col ion-padding' size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>
          <ion-card-content>
            
            <img class='ion-padding' [src]="p.image" [alt]="p.title">

            <ion-list>

              <ion-item>
                <ion-icon slot='start' class='ion-text-wrap ion-text-center'  name='person'></ion-icon>
                <ion-label>{{p.author}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-icon slot='start' class='ion-text-wrap ion-text-center'  name='md-calendar'></ion-icon>
                <ion-label>{{p.year | date:short}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-icon slot='start' class='ion-text-wrap ion-text-center'  name='md-paper'></ion-icon>
                <ion-label>EDITION: {{p.edition}}</ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>

        </ion-col>

        <ion-col  class='description-col ion-padding' size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>

          <ion-list class='ion-padding'> 

            <h1 class="ion-margin-vertical ion-padding" >{{p.title | uppercase}}</h1>

            <ion-item> 
              <ion-label class='description ion-text-center ion-text-wrap'>
                {{p.description}}
              </ion-label>
            </ion-item>

            <h1 class="ion-margin-vertical ion-padding">£{{p.price}}</h1>

          </ion-list>

          <div class="ion-margin-vertical buy-button__container">
            <ion-button [disabled]='p.price===0.00' [href]='p.buy_link' target='_blank' size='large' fill='solid'>
              <ion-label>BUY</ion-label>
              <ion-icon name=cart></ion-icon>
            </ion-button>
          </div>

        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
