<ion-app>
  <ion-menu #menu contentId='side-nav' side="start" type="push">
    <ion-header>
      <ion-toolbar>
        <ion-buttons>
          <ion-button fill='solid' (click)='menu.close()' [routerLink]="['/landing']" routerLinkActive="active" routerDirection="backward" >
            <img src="https://i.ibb.co/18x47wV/reuserly-logo.png" alt="reuserly_logo">
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
      <ion-list *ngFor="let s of stores">
        <ion-item  (click)='menu.close()' [routerLink]="[s.link]" routerLinkActive="router-link-active " routerDirection='forward' >
          <ion-icon slot="start" [name]="s.icon" [style.color]="s.color"></ion-icon>
          <ion-label>
            <h3>{{s.title}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id='side-nav' ></ion-router-outlet>
</ion-app>
