<ion-header>
  <ion-toolbar>
    <ion-title>shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="straws">
          <h1>
            <b>STRAWS</b>
          </h1>
        </div>        
      </ion-col>
      
      <ion-col>
        <ion-card *ngFor="let p of products">

          <ion-card-header>
            <ion-card-title class='ion-padding ion-text-center'>{{p.title | uppercase}}</ion-card-title>
            <ion-slides  #slides pager="false" scrollbar='false' [options]="slideOpts">
              <ion-slide *ngFor="let c of p.colors">

                <img [src]="c.image" [alt]='c.value'/>
                
                <h1 [ngClass]="c.value">{{ c.value | uppercase}}</h1>

                <ion-card-subtitle>£{{c.price}}</ion-card-subtitle>

              </ion-slide>
            </ion-slides>
          </ion-card-header>

          <ion-card-content>

            <ion-buttons>
              <ion-button fill="clear" *ngFor="let c of p.colors; let i = index" [ngClass]="hasNumber(c.value)===true ? 'uncolored-product-button' : c.value" (click)='slides.slideTo(i)'>{{c.value}}</ion-button>
            </ion-buttons>

            <ion-list>
              <ion-item *ngFor="let d of p.description"> 
                <ion-icon name="checkmark" slot="start"></ion-icon>
                <ion-label class='ion-text-wrap'>
                  {{d}}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
         
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
