ion-card
    ion-row
        .description-col
            background-color: #DAC4C5
            h1
                color: white
            ion-list
                --background-color: #DAC4C5
                background-color: #DAC4C5
                ion-item
                    background-color: #DAC4C5
                    --background: #DAC4C5
                    --border-color: rgba(116,124,102, 0.4)
                    ion-label
                        --color:#D1536B
                    ion-icon
                        color: #747C66
               
        .selection-col
            ion-card-content
                .rose-gold
                    color: #b76e79
                ion-slides
                    ion-slide
                        img
                            object-fit: contain
                            object-position: 50% 50%
                        
                ion-buttons
                    .rose-gold
                        background-color: #b76e79
                .buy-button__container
                    ion-button
                        --color: #DDDEE2
                        --color-hover: #EFEFED
                        --background-hover: #D1536B
                        --border-color: #D68F66
                        --background: #D68F66
