<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button color='dark'>
  
      </ion-menu-button>
    </ion-buttons>
    <ion-title class='ion-text-center'>FLUTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card *ngFor="let f of flutes">

    <ion-grid class='ion-no-padding'>

      <ion-row >
        <ion-col class='description-col' size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>
          <ion-card-header>
            <ion-card-title class='ion-padding ion-text-center'>{{f.title | uppercase}}</ion-card-title>
            
            <ion-list>
              <ion-item *ngFor="let d of f.description"> 
                <ion-icon name="checkmark" slot="start"></ion-icon>
                <ion-label class='ion-text-wrap'>
                  {{d}}
                </ion-label>
              </ion-item>
            </ion-list>

          </ion-card-header>

        </ion-col>

        <ion-col size-xs=12 size-sm=12 size-md=6 size-lg=6 size-xl=6>

        <ion-card-content>

            <ion-slides magrin-top #slides pager="false" scrollbar='false' [options]="slideOpts">
             
              <ion-slide *ngFor="let c of f.colors">

                <img [src]="c.image" [alt]='c.value'/>
                
                <h1 class='ion-padding-top' [ngClass]="c.value">{{ c.value | uppercase}}</h1>

                <ion-card-subtitle class='ion-padding'>£{{c.price}}</ion-card-subtitle>

              </ion-slide>
            </ion-slides>

            <ion-buttons  class='ion-magrin-top color-buttons'>
              <ion-button (click)='slides.slideTo(i); setCurrentColor(c)' fill="clear" *ngFor="let c of f.colors; let i = index" [ngClass]="hasNumber(c.value)===true ? 'uncolored-product-button' : c.value" class='color-button'>
                {{c.value}}
              </ion-button>
            </ion-buttons>

            <div class="ion-margin buy-button__container">
              <ion-button expand='block' fill='solid' size='large' color='dark' [href]='currentColor.buy_link' target='_blank'>
                  <ion-icon name='cart'>
                  </ion-icon>
                  <ion-label>
                    BUY
                  </ion-label>
                </ion-button>
            </div>

          </ion-card-content>
            

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
